

html {
	text-align: center;
	background: white;
    position: relative;
    -webkit-animation: myfirst 20s infinite; /* Chrome, Safari, Opera */
}

div {
	font-family: Helvetica Neue;
	font-style: italic;
	color: white;
	font-size: 70px;
	vertical-align: center;
	padding-top: 160px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    0%   {background:white;}
    20%  {background:yellow;}
    40%  {background:red;}
    60%  {background:blue;}
    80% {background:green;}
    100% {background:white;}
}

</style>