h1 {
	font-family: Helvetica Neue;
}

html {
	text-align: center;
	background: red;
    position: relative;
    -webkit-animation: myfirst 5s; /* Chrome, Safari, Opera */
    animation: myfirst 5s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    0%   {background:red;}
    25%  {background:yellow;}
    50%  {background:blue;}
    75%  {background:green;}
    100% {background:red;}
}

/* Standard syntax */
@keyframes myfirst {
    0%   {background:red;}
    25%  {background:yellow;}
    50%  {background:blue;}
    75%  {background:green;}
    100% {background:red;}
}


</style>